---
import Layout from "../layouts/Layout.astro";
import { GenerateReviewView } from "../components/GenerateReview/GenerateReviewView";
---

<Layout>
  <div id="generate-review-view">
    <GenerateReviewView client:load />
  </div>
</Layout>
